.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
  }
  
  .navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    /* text-decoration: none;
    margin: 0 15px; */
  }

  
  .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
  }
  
  .navbar a:hover::before {
    width: 100%;
  }
  